.button{
	background: $main-red;
	border-radius: 5px;
	border: none;
	font-weight: 500;
	text-transform: uppercase;
	&__header{
		width: 153px;
		height: 32px;
		font-size: 12px;
		line-height: 19px;
	}
	&__promo{
		margin-top: 67px;
		width: 300px;
		height: 50px;
	}
	&__form{
		height: 55px;
	}
}
@media (max-width:767.5px) {
	.button{
		&__promo{
			margin-top: 40px;
		}
	}
}
@media (max-width:575.5px) {
	.button{
		&__form{
			height: 40px;
			font-size: 14px;
		}
	}
}
@media (max-width: 424.5px){
	.button{
		&__header{
			width: 120px;
			height: 24px;
			font-size: 10px;
		}
		&__promo{
			margin-top: 60px;
			width: 250px;
			height: 40px;
		}
	}
}