.promo{
	min-height: 650px;
	padding: 21px 0 93px 0;
	background: url(../img/bg/bg-top.jpg) center center/cover no-repeat;
	&__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}
	&__title{
		font-size: 42px;
		text-transform: uppercase;
	}
	&__subtitle{
		margin-top: 17px;
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
	}
	&__icons{
		margin-top: 60px;
		display: flex;
		justify-content: flex-end;
	}
	&__icon{
		width: 120px;
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		img{
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	&__link{
		margin-top: 13px;
		font-weight: 500;
		font-size: 16px;
		a{
			text-decoration: underline;
			text-transform: uppercase;
		}
	}
}
@media (max-width:767.5px) {
	.promo{
		min-height: 490px;
		padding-bottom: 40px;
		background: url(../img/bg/bg-top.webp) 33% center/cover no-repeat;
		&__wrapper{
			margin-top: 40px;
		}
		&__title{
			font-size: 38px;
		}
		&__subtitle{
			font-size: 20px;
		}
		&__icons{
			margin-top: 40px;
		}
	}
}
@media (max-width:575.5px) {
	.promo{
		&__wrapper{
			align-items: center;
		}
		&__title{
			font-size: 30px;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
}
@media (max-width:424.5px) {
	.promo{
		&__wrapper{
			align-items: center;
			margin-top: 90px;
		}
		&__title{
			font-size: 22px;
		}
		&__subtitle{
			font-size: 12px;
		}
		&__icons{
			margin-top: 20px;
		}
		&__icon{
			width: 90px;
			font-size: 10px;
			img{
				width: 30px;
			}
		}
	}
}
